<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="bg-danger text-white">{{heading}}</h2>
            <h3>
                {{ title }}
            </h3>

            <input [value]="userName" type="text" class="form-control">
        <hr>

        <ul class="list-group">
            <li *ngFor="let skill of skills" class="list-group-item bg-success text-white">

                I Love {{skill}}
            </li>
        </ul>
<hr>
   <p>1]Welcome {{name }}</p> 
   <p>2]Welcome {{fname}} {{lname}}</p>
   <p>3]I Like {{color1}}, {{color2}}, {{color3}} colors but {{color1}} is my favourite color.</p>
   
   <hr>
   <div class="form-group">
   <input [value]="userId" type="text" class="form-control">
<input [value]="index" type="text" class="form-control">
<br>
<input [value]="select" type="text" class="form-control">
<input [value]="email" type="text" class="form-control">
   </div>

   <h3>hello {{firstname}}</h3>
   <button (click)="firstname= 'ANGULAR'" class="btn btn-primary">Reset</button>
   
   <p><strong>{{skill}}</strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, numquam rerum nemo quos tempora odit.</p>
   <button (click)="skill= 'ANGULAR'" class="btn btn-primary btn-block">ANGULAR</button>

<hr>
   
        <ul class="list-group">
            <li *ngFor="let fruit of fruits" class="list-group-item bg-primary text-white">

                I like {{fruit}}
            </li>
        </ul>
<hr>
<ul class="list-group">
    <li *ngFor="let color of colors" class="list-group-item bg-secondary text-white">
        {{color}}
    </li>
</ul>
<hr>

<ul class="list-group">
    <li *ngFor="let id of ids" class="list-group-item bg-secondary text-white">
        {{id}}
    </li>
</ul>
<hr>

<ul class="list-group">
    <li *ngFor="let vege of vegetables" class="list-group-item bg-primary text-white">
{{vege}}
    </li>
</ul>
<hr>
<ul class="list-group">
    <li *ngFor="let animal of animals" class="list-group-item bg-info text-dark">
{{animal}}
    </li>
</ul>

<ul class="list-group">
    <li *ngFor="let country of countries" class="list-group-item bg-danger text-white">
        {{country}}
    </li>
</ul>

</div>
    </div>
</div>